body {
   font-weight:lighter;
}
h1.header{
   height:3.3em;
   color:#008000;
   margin-top:2em;
   font-size:1000%;
   text-align:center;
}
h2{
   margin-bottom:0.3em;
   margin-top:0.2em;
   color:#008000;
   font-size:300%;
}
div{
   height:auto;
   padding:0 1em;
   margin-bottom:1.5em;
   border-style:groove;
   border-color:#008000;
}
div img{
   float:left;
   padding-right:1em;
}
p,pre,b,i,li,u{
	font-size:150%;
}
.start{
	text-indent:2.5em;
}
